 <!-- presentacion de enlaces en un jumbotron -->
 <div class="jumbotron jumbotron-panther">
  <div class="img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-4">Hola, bienvenido a {{name}}</h1>
        <p class="lead my-4">
          A continuacion encontraras diferentes enelaces, para seguix expandiendo tus conocimientos
        </p>
        <hr class="my-4" />
        <p>Ahora animate, y sigue aprendiendo</p>
      </div>
    </div>
  </div>
</div>
<!-- interpolacion de la lista de los recursos  -->
<div class="container-fluid">
<div>
  <h2 class="d-flex justify-content-center display-3 my-5"> Lista de recursos {{name}}</h2>
</div>

<div class="row  my-4">
    <div class="externos col-12 col-md-6 col-lg-3 col-xl-4 d-flex justify-content-center" *ngFor="let recurso of listaRecursos">
        <div class="card text-white  mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <h4 class="card-title">
                {{recurso.nombre}}
            </h4></div>
          <div class="card-body">
            <p class="card-text">{{recurso.descripcion}}</p>
          </div>
          <div class="card-footer d-flex justify-content-end">
            <a class="btn btn-info" [href]="recurso.link">Obtener </a>
          </div>
      </div>
      
      
      
      </div>
</div>


