<div class="container-fluid">
  <h1>
    Aqui encontraras algunos recursos que de seguro serab de tu interes
  </h1>
  <hr class="my-4" />
  <div class="my-4">
    <p>
      A continuación, encontraras un listado útil de recursos, que van a ser de
      tu interes, y te ayudaran a complementar tu aprendizaje.
    </p>
  </div>
  <div>
    <h2 class="my-4">
      recursos externos
    </h2>
    <h4>
      Capacitate par el empleo
    </h4>
    <p>
      Es una plataforma en donde encontrarás un gran número de cursos gratuitos
    </p>
    <a
      class="btn btn-primary"
      href="https://capacitateparaelempleo.org/pages.php?r=.index&filter_areaID=8"
    >
      Vamos!</a
    >
  </div>
  <div>
    <h4 class="my-4">
      Introducción a JAVA
    </h4>
    <p>
      Un curso gratuito ofrecido por coursera
    </p>
    <a
      class="btn btn-primary"
      href="https://www.coursera.org/learn/introduccion-java"
      >Vamos!</a
    >
  </div>
  <div>
    <h4 class="my-4">
      Curso de HTML desde cero
    </h4>
    <p>
      las bases para un desarrollador web profesional, curso gratuito ofrecido
      por azul web
    </p>
    <a
      class="btn btn-primary"
      href="web https://www.azulweb.net/curso-gratuito-de-html5-desde-cero-las-bases-para-un-desarrollador-web-profesional/?utm_campaign=arteprogra&utm_medium=facebook&utm_source=septiembre2019"
      >Vamos!</a
    >
  </div>
  <div>
    <h4 class="my-4">
      Nigbox
    </h4>
    <p>
      las bases para un desarrollador web profesional, curso gratuito ofrecido
      por azul web
    </p>
    <a class="btn btn-primary" href="https://www.nigbox.com/cursos/">Vamos!</a>
  </div>
</div>
