<div class="container">
  <h2>
    Nosotros
  </h2>
  <p class="my-4">
    Eva-Panther es un Entorno Virtual de Aprendizaje que nace de la idea de que
    la programación mueve al mundo, y necesitamos gente que sea el motor. Por lo
    tanto proponemos un entorno que potencie el aprendizaje de la programación,
    todos podemos programar, solo hace falta la herramienta que nos motive a
    hacerlo.
  </p>
  <p class="my-2">
    Nota de los desarrolladores, Somos estudiantes de la Tecnología en
    Programación de Sistemas Informáticos de la Facultad de estudios a Distancia
    de la Universidad Pedagógica y Tecnológica de Colombia en Tunja- Boyacá,
  </p>
  <p class="my-2">
    Buscamos motivar y ayudar a que nuestros compañeros y mucha más gente pueda
    aprender, culminar sus estudios y apoderarse de la programación con esta
    herramienta.
  </p>
  <p class="my-2">
    Hemos sufrido por los puntos y comas, corchetes, paréntesis y métodos, pero
    siempre tratamos de seguir a pesar de los dolores de cabeza. Siempre la
    programación ha abierto nuestros campos de aprendizaje y oportunidades fuera
    del estudio.
  </p>
  <p class="my-2">
    Solucionemos las problemáticas más simples y más complejas programando.
    ¡ADELANTE!
  </p>
  <div class="row">
<div class="col-12 col-md-6 col-lg-6" >
<img class="rounded-circle" src="../../../assets/nosotros/sarayB.jpeg"  height="150px" width="150px" alt="Saray Burbano">
</div>
<div  class="col-12 col-md-6 col-lg-6">
<img  class="rounded-circle" src="../../../assets/nosotros/yesidR.jpeg"   height="150px" width="150px" alt=" Yesid Rangel">
</div>
  </div>
</div>
