<!-- <div class="jumbotron">
  <img src="https://www.uniradioserver.com/media/news_thumbs/201902/20190226074854_179.jpg" alt="">
  <h1 class="display-4">Hola, bienvenido a PANTHER</h1>
  <p class="lead my-4">Este es un pequeño comienzo, pero es la mejor manera de empezar y de comenzar a hacer.</p>
  <hr class="my-4">
  <p>Por eso animate! y sigue a delante en tu primer comienzo</p>
  
</div> -->

<div class="jumbotron jumbotron-panther">
  <div class="img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-4">Hola, bienvenido al framework PANTHER</h1>
        <p class="lead my-4">
          Este es un pequeño comienzo, pero es la mejor manera de empezar y de
          comenzar a hacer.
        </p>
        <hr class="my-4" />
        <p>Por eso animate! y sigue a delante en tu primer comienzo</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h3>
    Nivel 1
  </h3>
  <p class="col-md-8 col-lg-6">
    Aprenderemos a instalar y manejar un framework, y que mejor que el framwor
    panther, el objetivo final es que tengas el framework para tu uso en tu
    editor de código y funcione¡
  </p>

  <h4>
    Manual del Framework:
  </h4>
  <p>
    Tenlo en tus archivos  
  </p>
  <a class="btn btn-primary" href="#">Descargar pdf</a>
  <hr class="my-4" />
  <p>
    Llevalo siempre contigo! ver online 
  </p>
  <a class="btn btn-primary" href="https://www.canva.com/design/DADoFv6DZHA/mbrRA7OVLZQS9qggDuCJgg/view?utm_content=DADoFv6DZHA&utm_campaign=designshare&utm_medium=link&utm_source=homepage_design_menu">
  <img src="../../../../assets/temas/portadaPanther.jpeg"  height="50px" width="40" alt="">
  </a>
</div>
